<div class="big-card-container">
    <div class="big-card-image">
        <img
            src="../../../assets/img/stephan-louis-unsplash.jpg"
            alt=""
            srcset=""
        >
    </div>
    <div class="big-card-date">
        <p>{{currentDate}}</p>
    </div>
    <div class="big-card-title">
        <a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a>
    </div>
    <div class="big-card-content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolores ut fugiat officiis? Sequi maxime libero culpa alias harum delectus quos! Sequi tempora perspiciatis consectetur reprehenderit quaerat, libero nostrum omnis?
        </p>
    </div>
</div>
