.small-card-container {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    padding: 15px 0px 0px 0px;
}

.small-card-image {
    width: 40%;
}

.small-card-image > img {
    width: 100%;
}

.small-card-content {
    margin: 0px 10px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.small-card-date > p {
    font-size: .75rem;
    color: #9B9B9B;
    margin: 10px 0px 10px 0px;
}

.small-card-title > a {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.small-card-container-hr > hr {
    border-color: #3d3d3d;
    border-width: 3px;
}