.home-hr > hr {
    margin: 10px 0px;
    border-color: #3d3d3d;
    border-width: 2px;
}

.home-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-articles-big-card {
    width: 50%;
}

.home-articles-small-card {
    width: 50%;
}