<div class="menu-bar-container">
    <div class="menu-bar-logo">
        <img
            src="../../../assets/img/logo_icon.png"
            alt=""
            srcset=""
        >
    </div>
    <div class="menu-bar-content">
        <div class="menu-bar-options">
            <a href="#">LEARN</a>
            <a href="#">BLOG</a>
            <a href="#">BOOKMARKS</a>
            <a href="#">UI KIT</a>
            <a href="#">ARCHIVE</a>
        </div>
        <div class="menu-bar-social">
            <a href="#">
                <img src="../../../assets/img/linkedin.png" alt="Linkedin">
            </a>
            <a href="#">
                <img src="../../../assets/img/github.png" alt="Github">
            </a>
            <a href="#">
                <img src="../../../assets/img/youtube.png" alt="Youtube">
            </a>
            <a href="#">
                <img src="../../../assets/img/twitter_x.png" alt="X">
            </a>
        </div>
    </div>
</div>
